.app-about-me {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 2em;
    padding: 0 15px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

p.intro {
    color: #FF595A;
    font-size: 25px;
    font-weight: 700;
}

.about-container {
    flex-direction: column;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

p.body {
    margin-right: 200px;
    display: flex;
    align-items: flex-start;
    color: #FF595A;
    font-size: 17px;
    font-weight: 450;
}

.seperator {
    display: flex;
    border-bottom: #FF595A dotted 15px;
    width: 10em;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
}


.language-box{
    height: 100%;
    padding: 0px 12px;
    border: 1px solid #FF595A;
    margin-top: 0em;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1em;
    justify-content: center;

}

.language-text{
    color: #FF595A;
    font-weight: 500;
    font-size: 32px;
    
}

ul {
    columns: 3;
}

li{
    margin-left: 2em;
    margin-right: 2em; 
}

p.languages{
    margin-right: 20em;
    display: flex;
    height: 45px;
    margin-bottom: 0%;
    color: #FF595A;
}


.category-container{
    color: #FF595A;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    margin: 0 20em;
    margin-top: 1em;
    justify-content: left;
}

footer{
    margin-top: 5em;
    color: #FF595A;
    text-align: center;
    padding: 10px;
    width: 100%;
}



